# ── Appwrite ──────────────────────────────────
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_CARBOOK_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_CARS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_AGENCIES_COLLECTION_ID=

# ── Mapbox ────────────────────────────────────
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=

# ── API Ninjas ────────────────────────────────
EXPO_PUBLIC_API_NINJAS_KEY=
